@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', monospace;
    letter-spacing: 5px;
  }

.top {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
}

.middle{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}

.bottom{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
}

.button {
    width: 300px;
    height: 100px;
    border: 3px solid black;
    color: black;
    border-radius: 10px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.button:hover {
    color: white;
    cursor: pointer;
}

.button::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: black;
}

button:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}